:root{
    --font: 'Rubik', sans-serif;
    --shadow: rgba(0, 0, 0, 0.27);
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--font);
    font-size: 16px;
    display: flex;
    background-size: cover;
    /*flex-direction: row;*/
    height: 100vh;
}

section{
    flex-direction: row;
}

.chat {
    display: flex;
    flex-direction: column;
    width: 50rem;
    max-height: 100%;
    height: 480px;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    margin-left: 21rem;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
    box-shadow: 5px 9px 16px -3px var(--shadow);
}

.header{
    background-image: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
    );
    border-radius: 1.25rem 1.25rem 0.5rem 0.5rem;
    width: 100%;
    height: 60px;
}

.header-top{
    background-color: white;
    height: 20px;
    width: 130px;
    margin: auto;
    border-radius: 0rem 0rem 1.875rem 1.875rem;
}

.header-description{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
}

.header-left{
    display: flex;
    width: 65%;
    justify-content: space-around;
}

.fa-ellipsis-vertical{
    margin-right: 15px;
}

.header-description .fa-angle-left {
    font-size: 20px;
}

.header-description img {
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 100px;
}

.name {
    font-size: 12px;
}
  
.status {
    font-size: 8px;
    color: lightgray;
}

.body {
    overflow: auto;
    width: 100%;
    flex-grow: 1;
    border-radius: 0px 0px 20px 20px;
    background-color: hsl(270, 20%, 96%);
}
  
.body .message {
    font-size: 8px;
    display: inline-block;
    margin-top: 7px;
}

.body .left p {
    background-color: hsl(0, 14%, 91%);
    color: hsl(276, 55%, 52%);
    border-radius: 10px 10px 10px 5px;
    padding: 7px;
    margin-left: 10px;
}
  
.body .right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.images {
    margin-top: 7px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
  
.images img {
    width: 38px;
    margin-right: 10px;
    border-radius: 10px;
}
  
.body .right p {
    background-color: white;
    border-radius: 10px 10px 5px 10px;
    padding: 7px;
    margin-right: 10px;
}

.pay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    margin-left: 10px;
    margin-top: 7px;
    color: white;
    background-image: linear-gradient(
      to left,
      hsl(264, 100%, 61%),
      hsl(293, 100%, 63%)
    );
    padding: 7px;
    border-radius: 10px 10px 10px 5px;
}

.pay-left {
    display: flex;
    align-items: center;
    width: 80%;
}
  
.pay-left i {
    color: hsl(270, 20%, 96%);
}
  
.payt p {
    font-size: 8px;
    margin-left: 5px;
}
  
.pay .amount {
    font-size: 14px;
    font-weight: 700;
}

.type-message {
    margin: auto;
    margin-top: 20px;
    background-color: white;
    width: 90%;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
.type-message p {
    font-size: 10px;
    color: lightgray;
    margin-left: 15px;
}

.type-message .send {
    width: 30px;
    height: 30px;
    background-color: hsl(271, 36%, 24%);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    border-radius: 100px;
}
  
.type-message .send i {
    color: white;
}

.description-head,
.description-text {
  text-align: center;
}

.description-head {
  color: hsl(271, 36%, 24%);
  margin-bottom: 20px;
  font-weight: 500;
}

.description-text {
  color: hsl(270, 7%, 64%);
  font-size: 14px;
  width: 70%;
  margin: auto;
  font-weight: normal;
}

.descrip{
    margin-left: 9rem;
    align-self: center;
}

.background1 {
    background-image: linear-gradient(
      to top left,
      hsl(264, 100%, 61%),
      hsl(293, 100%, 63%)
    );
    width: 30%;
    height: 80vh;
    align-self: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0 0 1000px 1000px;
}
  
.background2 {
    background-color: hsl(0, 14%, 91%);
    width: 25%;
    height: 90vh;
    align-self: flex-start;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 1000px 55px 0px 0px;
}

footer{
    justify-content: flex-end;
    margin-top: 50rem;
    align-items: center;
    text-align: center;
}